.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.homeContainer{
  width: 100vw;
  height: 100vh;
  background-color: rgb(133, 95, 45);
}

.footer{
  position: sticky;
  padding: 40px;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
  display: flex;
  color: rgb(0, 0, 0);
  /* background-color: white; */
}

.footerHome{
  position: absolute;
  padding: 40px;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
  display: flex;
  color: rgb(243, 243, 243);
}

.footerAutre{
  position: absolute;
  padding: 40px;
  bottom: 0;
  width: 100%;
  font-size: 1.3em;
  display: flex;
  color: rgb(0, 0, 0);

}


.footerLeft{
  float: left;
}

.footerRight{
  margin-left: auto;
}

.footerList{
  padding-left: 15px;
}

.nameUnderlineHome{
  border-bottom: 1px solid #ffffff
}

.nameUnderline{
  border-bottom: 1px solid #000000
}

/* .nameUnderline:hover{
  border-bottom: 1px solid rgb(65, 65, 65);
} */

.backgroundImage{
  width: 100%;
  object-fit: cover;

  overflow-y: hidden;
  height: 100%;
  /* max-height: 100vh; */
}

/* 
,   ,
,-`{-`/
,-~ , \ {-~~-,
,~  ,   ,`,-~~-,`,
,`   ,   { {      } }                                             }/
;     ,--/`\ \    / /                                     }/      /,/
;  ,-./      \ \  { {  (                                  /,;    ,/ ,/
; /   `       } } `, `-`-.___                            / `,  ,/  `,/
\|         ,`,`    `~.___,---}                         / ,`,,/  ,`,;
`        { {                                     __  /  ,`/   ,`,;
/   \ \                                 _,`, `{  `,{   `,`;`
{     } }       /~\         .-:::-.     (--,   ;\ `,}  `,`;
\\._./ /      /` , \      ,:::::::::,     `~;   \},/  `,`;     ,-=-
`-..-`      /. `  .\_   ;:::::::::::;  __,{     `/  `,`;     {
          / , ~ . ^ `~`\:::::::::::<<~>-,,`,    `-,  ``,_    }
       /~~ . `  . ~  , .`~~\:::::::;    _-~  ;__,        `,-`
/`\    /~,  . ~ , '  `  ,  .` \::::;`   <<<~```   ``-,,__   ;
/` .`\ /` .  ^  ,  ~  ,  . ` . ~\~                       \\, `,__
/ ` , ,`\.  ` ~  ,  ^ ,  `  ~ . . ``~~~`,                   `-`--, \
/ , ~ . ~ \ , ` .  ^  `  , . ^   .   , ` .`-,___,---,__            ``
/` ` . ~ . ` `\ `  ~  ,  .  ,  `  ,  . ~  ^  ,  .  ~  , .`~---,___
/` . `  ,  . ~ , \  `  ~  ,  .  ^  ,  ~  .  `  ,  ~  .  ^  ,  ~  .  `-, */


.workContainer{
  width: 100%;
  height: 100%;
}



.individualWorkContainer{
  /* width: 42%; */
  margin: 0 auto;
  justify-content: center;
  margin-left:auto;
  margin-right:auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  
}

.workImage{
  height: 100%;
  margin: 0 auto;
  /* vertical-align:middle;
  margin-left:auto;
  margin-right:auto; */

}

.workText{
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 150px;

}

/* 
,   ,
,-`{-`/
,-~ , \ {-~~-,
,~  ,   ,`,-~~-,`,
,`   ,   { {      } }                                             }/
;     ,--/`\ \    / /                                     }/      /,/
;  ,-./      \ \  { {  (                                  /,;    ,/ ,/
; /   `       } } `, `-`-.___                            / `,  ,/  `,/
\|         ,`,`    `~.___,---}                         / ,`,,/  ,`,;
`        { {                                     __  /  ,`/   ,`,;
/   \ \                                 _,`, `{  `,{   `,`;`
{     } }       /~\         .-:::-.     (--,   ;\ `,}  `,`;
\\._./ /      /` , \      ,:::::::::,     `~;   \},/  `,`;     ,-=-
`-..-`      /. `  .\_   ;:::::::::::;  __,{     `/  `,`;     {
          / , ~ . ^ `~`\:::::::::::<<~>-,,`,    `-,  ``,_    }
       /~~ . `  . ~  , .`~~\:::::::;    _-~  ;__,        `,-`
/`\    /~,  . ~ , '  `  ,  .` \::::;`   <<<~```   ``-,,__   ;
/` .`\ /` .  ^  ,  ~  ,  . ` . ~\~                       \\, `,__
/ ` , ,`\.  ` ~  ,  ^ ,  `  ~ . . ``~~~`,                   `-`--, \
/ , ~ . ~ \ , ` .  ^  `  , . ^   .   , ` .`-,___,---,__            ``
/` ` . ~ . ` `\ `  ~  ,  .  ,  `  ,  . ~  ^  ,  .  ~  , .`~---,___
/` . `  ,  . ~ , \  `  ~  ,  .  ^  ,  ~  .  `  ,  ~  .  ^  ,  ~  .  `-, */




.infoContainer{
  width: 100vw;
  height: 100vh;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
  
}

.info{
  padding: 50px;
}




/* 
,   ,
,-`{-`/
,-~ , \ {-~~-,
,~  ,   ,`,-~~-,`,
,`   ,   { {      } }                                             }/
;     ,--/`\ \    / /                                     }/      /,/
;  ,-./      \ \  { {  (                                  /,;    ,/ ,/
; /   `       } } `, `-`-.___                            / `,  ,/  `,/
\|         ,`,`    `~.___,---}                         / ,`,,/  ,`,;
`        { {                                     __  /  ,`/   ,`,;
/   \ \                                 _,`, `{  `,{   `,`;`
{     } }       /~\         .-:::-.     (--,   ;\ `,}  `,`;
\\._./ /      /` , \      ,:::::::::,     `~;   \},/  `,`;     ,-=-
`-..-`      /. `  .\_   ;:::::::::::;  __,{     `/  `,`;     {
          / , ~ . ^ `~`\:::::::::::<<~>-,,`,    `-,  ``,_    }
       /~~ . `  . ~  , .`~~\:::::::;    _-~  ;__,        `,-`
/`\    /~,  . ~ , '  `  ,  .` \::::;`   <<<~```   ``-,,__   ;
/` .`\ /` .  ^  ,  ~  ,  . ` . ~\~                       \\, `,__
/ ` , ,`\.  ` ~  ,  ^ ,  `  ~ . . ``~~~`,                   `-`--, \
/ , ~ . ~ \ , ` .  ^  `  , . ^   .   , ` .`-,___,---,__            ``
/` ` . ~ . ` `\ `  ~  ,  .  ,  `  ,  . ~  ^  ,  .  ~  , .`~---,___
/` . `  ,  . ~ , \  `  ~  ,  .  ^  ,  ~  .  `  ,  ~  .  ^  ,  ~  .  `-, */


.cvFlexLine{
  width: 80%;
  display: flex;
}

.cvLeft{
  width: 20%;
}


.cvRight{
  width: 80%;
}

.cvWrapper{
  width: 60%;
  padding-top: 30px;
  padding-left: 20px;
  margin: 0 auto;
  font-size: .9em;
}





/* Mobile */




@media only screen and (max-width: 900px) {
  .footer{
    display: block;
    background-color: white;
    font-size: 1em;
    padding: 15px;

  }
  
  .footerHome{
    display: block;
    font-size: 1em;
    padding: 15px;


  }
  
  .footerAutre{
    display: block;
    background-color: white;
    font-size: 1em;
    padding: 15px;

  }
  
  .cvWrapper{
    width: 93%;
    padding-top: 30px;
    padding-left: 20px;
    margin: 0 auto;
  }
  
  .individualWorkContainer{
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    height: auto;
    display:flex ;
    align-items: center;
    justify-content: center;
  
    
  }
  
  .workImage{
    width: 90%;
    margin: 0 auto;
    /* vertical-align:middle;
    margin-left:auto;
    margin-right:auto; */
  
  }
  }
